@model SHA_Shop.Areas.Admin.Models.EditSlideFormModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CHỈNH SỬA SLIDE</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">CHỈNH SỬA</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="col-lg-6">

                    @using (Html.BeginForm("Edit", "Slide", FormMethod.Post, new { enctype = "multipart/form-data" })) //<form class='user'>
                    {

                        <div class="form-group">
                            <label>ID Slide</label>
                            @Html.TextBoxFor(m => m.IDSlide, new { @class = "form-control", placehover = "ID Slide" })
                        </div>

                        <div style="width:150px; height:150px;">
                            <img src="@Model.slideCu" />
                        </div>

                        <div class="form-group" style="width:300px;height:300px;">
                            <label>Chọn Ảnh</label>
                            <input type="file" name="SlideImage" required />
                        </div>

                        <div class="form-group">
                            <label>Sắp xếp</label>
                            @Html.TextBoxFor(m => m.Sapxep, new { @class = "form-control", placehover = "Sắp xếp" })
                        </div>

                        <div class="form-group">
                            <label>Link</label>
                            @Html.TextBoxFor(m => m.Link, new { @class = "form-control", placehover = "Link" })
                        </div>

                        <div class="form-group">
                            <label>Mô tả</label>
                            @Html.TextAreaFor(m => m.Mota, new { @class = "form-control", placehover = "Mô tả" })
                        </div>

                        <a href="@Url.Action("Index","Slide")" class="btn btn-default">Quay lại danh sách</a>
                        <button type="submit" class="btn btn-primary">Chỉnh Sửa</button>
                    }
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
