@model SHA_Shop.Models.LIENHE

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    @Html.Action("CategoryPartial", "Category")
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="@Url.Action("Index", "Product", FormMethod.Get)">
                            <input type="text" name="search" placeholder="Bạn cần tìm gì?">
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0367 888 655</h5>
                            <span>hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Assets/user/img/bread2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Liên hệ với chúng tôi</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                        <span>Liên hệ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Điện thoại</h4>
                    <p>0367 888 655</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Địa chỉ</h4>
                    <p>Quận 9, TP.HCM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Giờ mở cửa</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>hello@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4132907027297!2d106.78286571461506!3d10.856136992267478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e6385bd87%3A0x4911cb0a6db60f3b!2sHutech!5e0!3m2!1svi!2s!4v1608959792442!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Map End -->
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Để lại lời nhắn</h2>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    @Html.EditorFor(m => m.Ten, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ Tên" , required = "required" } })
                    @Html.ValidationMessageFor(m => m.Ten, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6">
                    @Html.TextBoxFor(x => x.SDT, new { @class = "form-control form-control-user", @placeholder = "Số điện thoại", required = "required" })
                    @Html.ValidationMessageFor(m => m.SDT, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Email", required = "required" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>


                <div class="col-lg-12 text-center">
                    @Html.TextAreaFor(m => m.NoiDung, new { @class = "form-control form-control-user", @placeholder = "Nội dung", required = "required" })
                    @Html.ValidationMessageFor(m => m.NoiDung, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-12 text-center">
                    <button type="submit" class="site-btn">Gửi Lời nhắn</button>
                    <span class="text-danger">@ViewBag.Success</span>
                </div>
            </div>
        }

    </div>
</div>
<!-- Contact Form End -->
